@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  .font-outline-2 {
    -webkit-text-stroke: 0.3px slateblue;
    /* -webkit-text-stroke: 0.3px red; */
  }
  .font-outline-4 {
    -webkit-text-stroke: 0.25px black;
  }
  .font-outline-3 {
    -webkit-text-stroke: 0.1px white;
  }
}

.dropdown-enter {
  max-height: 0;
  opacity: 0;
  overflow: hidden;
  transform-origin: top;
  transform: scaleY(0);
}

.dropdown-enter-active {
  max-height: 1000px;
  opacity: 1;
  transform: scaleY(1);
  transition: max-height 300ms ease-in, opacity 300ms ease-in,
    transform 300ms ease-in;
}

.dropdown-exit {
  max-height: 1000px;
  opacity: 1;
  transform: scaleY(1);
}

.dropdown-exit-active {
  max-height: 0;
  opacity: 0;
  transform-origin: top;
  transform: scaleY(0);
  transition: max-height 200ms ease-out, opacity 200ms ease-out,
    transform 200ms ease-out;
}

body {
  /* background-color: #fefae0; */
  background-color: #d5ffdd;
  background-image: url("/BG/BG5-evie-s-uuCjYxJVf4o-unsplash.jpg");
  background-repeat: no-repeat;
  background-size: 100vw 100vh;
  background-position: fixed;
  background-attachment: fixed;
  min-width: 640px;
  overflow-x: hidden;
}

#center {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}

.page-enter {
  opacity: 0;
  transform: translateX(100%);
}

.page-enter-active {
  opacity: 1;
  transform: translateX(0%);
  transition: opacity 1000ms, transform 1000ms;
}

.page-exit {
  opacity: 1;
  transform: translateX(0%);
}

.page-exit-active {
  opacity: 0;
  transform: translateX(100%);
  transition: opacity 1000ms, transform 1000ms;
}
.fade-enter {
  opacity: 0;
}

.fade-enter-active {
  opacity: 1;
  transition: opacity 1000ms;
}

.fade-exit {
  opacity: 1;
}

.fade-exit-active {
  opacity: 0;
  transition: opacity 1000ms;
}

.glass-background {
  background-color: #e9edc9;
  backdrop-filter: blur(30px);
}

.gradient-bg-card {
  background: #fceabb; /* fallback for old browsers */
  background: -webkit-linear-gradient(
    to left,
    #f8b500,
    #fceabb
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(
    to left,
    #f8b500,
    #fceabb
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.gradient-bg-card2 {
  background: #efefbb; /* fallback for old browsers */
  background: -webkit-linear-gradient(
    to left,
    #d4d3dd,
    #efefbb
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(
    to left,
    #d4d3dd,
    #efefbb
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  backdrop-filter: blur(10px);
}

.gradient-bg-card2-reverse {
  background: #efefbb; /* fallback for old browsers */
  background: -webkit-linear-gradient(
    to right,
    #d4d3dd,
    #efefbb
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(
    to right,
    #d4d3dd,
    #efefbb
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  backdrop-filter: blur(10px);
}

.gradient-bg-card3 {
  background: #799f0c; /* fallback for old browsers */
  background: -webkit-linear-gradient(
    to left,
    #acbb78,
    #799f0c
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(
    to right,
    #acbb78,
    #799f0c
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.bg-card:hover {
  transform: scale(1.03);
  transform: translateY(-0.5rem);
  /* box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5); */
  box-shadow: 0px 0px 20px 5px #fff;
  /* box-shadow: 0px 0px 10px 5px rgb(167, 252, 252); */
  box-shadow: 0px 0px 20px 5px #d5ffdd;
}
.bg-card {
  transition: all 0.3s ease-in-out;
}

#BAX:hover {
  /* transform: scale(1.03); */
  /* box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5); */
  /* box-shadow: 0px 0px 20px 5px #fff; */
}

#splashtextcontainer:hover,
#splashtextcontainer:focus {
  box-shadow: 0px 0px 20px 5px #fff;
  backdrop-filter: blur(10px);
  transition: ease-in-out 0.25s;
}

#splashtextcontainer:hover #BAX div {
  animation: jump;
  animation-duration: 2s;
  animation-timing-function: ease-in-out;
  animation-iteration-count: 2;
  transition: color 0.5s ease-in-out;
}

#splashtextcontainer:hover #BAX div:nth-child(1) {
  animation-delay: 0.15s;
  transition-delay: 0.15s;
  color: #799f0c;
}
#splashtextcontainer:hover #BAX div:nth-child(2) {
  animation-delay: 0.3s;
  transition-delay: 0.3s;
  color: #799f0c;
  /* animation: ease-in-out; */
}
#splashtextcontainer:hover #BAX div:nth-child(3) {
  animation-delay: 0.45s;
  transition-delay: 1s;
  color: #799f0c;
  /* animation: ease-in-out; */
}

#splashtextcontainer:hover #BAX div:nth-child(3) {
  transition-delay: 0s;
  transition: ease-out;
  /* animation: ease-in-out; */
}
#splashtextcontainer:hover #BAX div:nth-child(2) {
  transition-delay: 0.3s;
  /* animation: ease-in-out; */
}
#splashtextcontainer:hover #BAX div:nth-child(1) {
  transition-delay: 1s;
  /* animation: ease-in-out; */
}

@keyframes jump {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-0.2rem);
  }
  100% {
    transform: translateY(0);
  }
}

#plantDescriptionText {
  /* font-size: 1.5rem; */
  font-weight: 400;
  line-height: 1.5;
  color: #4a5568;
}

#glassBackCard {
  background: rgba(193, 225, 193, 0.46);
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(3.4px);
  -webkit-backdrop-filter: blur(3.4px);
  border: 1px solid rgba(193, 225, 193, 0.8);
}

#glassBackCard:hover,
#glassBackCard:focus {
  box-shadow: 0px 0px 20px 5px #baecfb;
  backdrop-filter: blur(5px);
  border: 1px solid rgba(0, 0, 0, 0.1);
  background: rgba(193, 225, 193, 0.75);
  transition: ease-in-out 0.25s;
}

#glassBackPlant {
  background: rgba(255, 233, 213, 0.7);
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(3.4px);
  -webkit-backdrop-filter: blur(3.4px);
  border: 1px solid #c1e1c1;
}

#glassBackPlant:hover,
#glassBackPlant:focus {
  box-shadow: 0px 0px 20px 5px #baecfb;
  backdrop-filter: blur(5px);
  border: 1px solid rgba(0, 0, 0, 0.1);
  background: rgba(255, 233, 213, 0.85);
  transition: ease-in-out 0.25s;
}

input[type="file"]::file-selector-button {
  /* border: 2px solid #6c5ce7; */
  padding: 0.2em 0.4em;
  border-radius: 0.2em;
  background-color: #d6d5fc;
  transition: 1s;
  cursor: pointer;
  border: none;
}

/* input[type="file"]::file-selector-button:hover {
  background-color: #81ecec;
  border: 2px solid #00cec9;
} */
