@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --primary: #c1e1c1;
  --secondary: #fffbcc;
}

* {
  scrollbar-width: thin;
  scrollbar-color: var(--secondary) var(--primary);
}

/* Chrome, Edge, and Safari */
*::-webkit-scrollbar {
  width: 15px;
}

*::-webkit-scrollbar-track {
  background: var(--secondary);
  border-radius: 5px;
}

*::-webkit-scrollbar-thumb {
  background-color: var(--primary);
  border-radius: 14px;
  border: 3px solid var(--primary);
}

@layer base {
  .font-outline-2 {
    -webkit-text-stroke: 0.3px slateblue;
    /* -webkit-text-stroke: 0.3px red; */
  }
  .font-outline-4 {
    -webkit-text-stroke: 0.25px black;
  }
  .font-outline-3 {
    -webkit-text-stroke: 0.1px white;
  }
}

.dropdown-enter {
  max-height: 0;
  opacity: 0;
  overflow: hidden;
  transform-origin: top;
  transform: scaleY(0);
}

.dropdown-enter-active {
  max-height: 1000px;
  opacity: 1;
  transform: scaleY(1);
  transition: max-height 200ms ease-in, opacity 200ms ease-in,
    transform 200ms ease-in;
}

.dropdown-exit {
  max-height: 1000px;
  opacity: 1;
  transform: scaleY(1);
}

.dropdown-exit-active {
  max-height: 0;
  opacity: 0;
  transform-origin: top;
  transform: scaleY(0);
  transition: max-height 200ms ease-out, opacity 200ms ease-out,
    transform 200ms ease-out;
}

body {
  background-color: #d5ffdd;
  background-image: url("/BG/greenbg3.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  min-width: 480px;
  overflow-x: hidden;
}

#center {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}

.page-enter {
  opacity: 0;
  transform: translateX(100%);
}

.page-enter-active {
  opacity: 1;
  transform: translateX(0%);
  transition: opacity 500ms, transform 500ms;
}

.page-exit {
  opacity: 1;
  transform: translateX(0%);
}

.page-exit-active {
  opacity: 0;
  transform: translateX(100%);
  transition: opacity 500ms, transform 500ms;
}
.fade-enter {
  opacity: 0;
}

.fade-enter-active {
  opacity: 1;
  transition: opacity 1000ms;
}

.fade-exit {
  opacity: 1;
}

.fade-exit-active {
  opacity: 0;
  transition: opacity 1000ms;
}

.glass-background {
  background-color: #e9edc9;
  backdrop-filter: blur(30px);
}

.gradient-bg-card {
  background: #fceabb; /* fallback for old browsers */
  background: -webkit-linear-gradient(
    to left,
    #f8b500,
    #fceabb
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(
    to left,
    #f8b500,
    #fceabb
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.gradient-bg-card2 {
  background: rgba(239, 239, 187, 1); /* fallback for old browsers */
  background: -webkit-linear-gradient(
    to left,
    rgba(212, 211, 221, 0.2),
    rgba(239, 239, 187, 0.7)
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(
    to left,
    rgba(212, 211, 221, 0.2),
    rgba(239, 239, 187, 0.7)
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  backdrop-filter: blur(0px);
}

.gradient-bg-card2-reverse {
  background: rgba(239, 239, 187, 1); /* fallback for old browsers */
  background: -webkit-linear-gradient(
    to right,
    rgba(212, 211, 221, 0.7),
    rgba(239, 239, 187, 0.2)
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(
    to right,
    rgba(212, 211, 221, 0.7),
    rgba(239, 239, 187, 0.2)
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  backdrop-filter: blur(0px);
}

#createuniqueplantform {
  backdrop-filter: blur(10px);
}

.gradient-bg-card3 {
  background: #799f0c; /* fallback for old browsers */
  background: -webkit-linear-gradient(
    to left,
    #acbb78,
    #799f0c
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(
    to right,
    #acbb78,
    #799f0c
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.bg-card:hover {
  transform: scale(1.03);
  transform: translateY(-0.35rem);
  /* box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5); */
  box-shadow: 0px 0px 20px 5px #fff;
  /* box-shadow: 0px 0px 10px 5px rgb(167, 252, 252); */
  box-shadow: 0px 0px 20px 5px #d5ffdd;
}
.bg-card {
  transition: all 0.3s ease-in-out;
}

#splashtextcontainer:hover,
#splashtextcontainer:focus {
  box-shadow: 0px 0px 20px 5px #fff;
  backdrop-filter: blur(10px);
  transition: ease-in-out 0.25s;
}

#splashtextcontainer:hover #BAX div {
  animation: jump;
  animation-duration: 2s;
  animation-timing-function: ease-in-out;
  animation-iteration-count: 2;
  transition: color 0.5s ease-in-out;
}

#splashtextcontainer:hover #BAX div:nth-child(1) {
  animation-delay: 0.15s;
  transition-delay: 0.15s;
  color: #799f0c;
}
#splashtextcontainer:hover #BAX div:nth-child(2) {
  animation-delay: 0.3s;
  transition-delay: 0.3s;
  color: #799f0c;
  /* animation: ease-in-out; */
}
#splashtextcontainer:hover #BAX div:nth-child(3) {
  animation-delay: 0.45s;
  transition-delay: 1s;
  color: #799f0c;
  /* animation: ease-in-out; */
}

#splashtextcontainer:hover #BAX div:nth-child(3) {
  transition-delay: 0s;
  transition: ease-out;
  /* animation: ease-in-out; */
}
#splashtextcontainer:hover #BAX div:nth-child(2) {
  transition-delay: 0.3s;
  /* animation: ease-in-out; */
}
#splashtextcontainer:hover #BAX div:nth-child(1) {
  transition-delay: 1s;
  /* animation: ease-in-out; */
}

@keyframes jump {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-0.2rem);
  }
  100% {
    transform: translateY(0);
  }
}

#plantDescriptionText {
  /* font-size: 1.5rem; */
  font-weight: 400;
  line-height: 1.5;
  color: #4a5568;
}

#glassBackCard {
  background: rgba(193, 225, 193, 0.46);
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(3.4px);
  -webkit-backdrop-filter: blur(3.4px);
  border: 1px solid rgba(193, 225, 193, 0.8);
}

#glassBackCard:hover,
#glassBackCard:focus {
  box-shadow: 0px 0px 20px 5px #baecfb;
  backdrop-filter: blur(5px);
  border: 1px solid rgba(0, 0, 0, 0.1);
  background: rgba(193, 225, 193, 0.75);
  transition: ease-in-out 0.25s;
}

#glassBackPlant {
  background: rgba(255, 233, 213, 0.7);
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(3.4px);
  -webkit-backdrop-filter: blur(3.4px);
  border: none;
}

#glassBackPlant:hover,
#glassBackPlant:focus {
  box-shadow: 0px 0px 5px 5px #b0e9fa;
  backdrop-filter: blur(3px);
  border: 1px solid rgba(0, 0, 0, 0.1);
  background: rgba(255, 233, 213, 0.75);
  transition: ease-in-out 0.25s;
}

input[type="file"]::file-selector-button {
  /* border: 2px solid #6c5ce7; */
  padding: 0.2em 0.4em;
  border-radius: 0.2em;
  background-color: #d6d5fc;
  transition: 1s;
  cursor: pointer;
  border: none;
}

/* input[type="file"]::file-selector-button:hover {
  background-color: #81ecec;
  border: 2px solid #00cec9;
} */

.animate-ping-short {
  animation: ping 2.5s cubic-bezier(0, 0, 0.2, 1) infinite;
}

@keyframes ping {
  75%,
  100% {
    transform: scale(2);
    opacity: 0;
  }
}

#text-input-dialog:focus,
#text-input-dialog:active {
  outline: none;
}

.Mui-focused input {
  border: none;
  outline-style: dotted;
  background-color: #baecfb;
}

.MuiInputBase-input {
  border: none;
  outline-style: none;
}

/* Source: https://codepen.io/kumdelmt-the-solid/pen/mdQdmdo */
/* License: MIT */

/* Copyright (c) 2023 by Alex Wong (https://codepen.io/kumdelmt-the-solid/pen/mdQdmdo)
Fork of an original work CSS Animated plant (https://codepen.io/kparzecki/pen/EXpaqQ

Permission is hereby granted, free of charge, to any person obtaining a copy of this software and associated documentation files (the "Software"), to deal in the Software without restriction, including without limitation the rights to use, copy, modify, merge, publish, distribute, sublicense, and/or sell copies of the Software, and to permit persons to whom the Software is furnished to do so, subject to the following conditions:

The above copyright notice and this permission notice shall be included in all copies or substantial portions of the Software.

THE SOFTWARE IS PROVIDED "AS IS", WITHOUT WARRANTY OF ANY KIND, EXPRESS OR IMPLIED, INCLUDING BUT NOT LIMITED TO THE WARRANTIES OF MERCHANTABILITY, FITNESS FOR A PARTICULAR PURPOSE AND NONINFRINGEMENT. IN NO EVENT SHALL THE AUTHORS OR COPYRIGHT HOLDERS BE LIABLE FOR ANY CLAIM, DAMAGES OR OTHER LIABILITY, WHETHER IN AN ACTION OF CONTRACT, TORT OR OTHERWISE, ARISING FROM, OUT OF OR IN CONNECTION WITH THE SOFTWARE OR THE USE OR OTHER DEALINGS IN THE SOFTWARE. */

.base {
  position: relative;
  display: block;
  width: 100px;
  height: 20px;
  background: linear-gradient(
    to right,
    #f4a64b 0%,
    #f5c895 50%,
    #dde8a0 51%,
    #dde8a0 100%
  );
  border-radius: 6px;
  border: 3px solid #dde8a0;
  box-shadow: 0 3px 0 #bbf3b2;
  perspective: 100px;
  transform-style: preserve-3d;

  &:before {
    content: " ";
    position: absolute;
    left: 7px;
    top: 20px;
    height: 40px;
    width: 80px;
    border-radius: 10px;
    background: linear-gradient(
      to right,
      #f4a64b 0%,
      #f5c895 50%,
      #dde8a0 51%,
      #dde8a0 100%
    );
    border: 3px solid #dde8a0;
    transform-origin: 50% 0;
    transform: rotateX(-18deg);
  }
}

.blade {
  position: absolute;
  bottom: 8px;
  overflow: hidden;
  transform-origin: 50% 100%;
  z-index: -1;

  &:before,
  &:after {
    content: "";
    position: absolute;
    top: 0;
    border-top: 0;
    border-radius: 50%;
  }
}

.blade-left-s {
  height: 60px;
  width: 50px;
  left: -20px;
  animation: wave 3s infinite ease-in-out;
  &:before {
    right: 0;
    height: 120px;
    width: 90px;
    border-right: 20px solid #6ad26a;
  }

  &:after {
    top: 1px;
    right: 6px;
    height: 120px;
    width: 90px;
    transform: rotateZ(15deg);
    border-right: 18px solid #c5f1c1;
  }
}

.blade-left-l {
  height: 100px;
  width: 80px;
  left: -35px;
  animation: wave2 4s infinite ease-in-out;
  &:before {
    right: 2px;
    height: 190px;
    width: 160px;
    border-right: 25px solid #6ad26a;
    transform: rotateZ(20deg);
  }

  &:after {
    right: 7px;
    height: 190px;
    width: 160px;
    border-right: 18px solid #c5f1c1;
    transform: rotateZ(25deg);
  }
}

.blade-right-s {
  height: 50px;
  width: 80px;
  right: -40px;
  animation: wave2 3.2s -0.5s infinite ease-in-out;
  &:before {
    left: 0;
    height: 190px;
    width: 100px;
    border-left: 22px solid #6ad26a;
  }

  &:after {
    left: 15px;
    height: 190px;
    width: 100px;
    border-left: 13px solid #c5f1c1;
    transform: rotateZ(-10deg);
  }
}

.blade-right-l {
  height: 75px;
  width: 80px;
  right: -27px;
  animation: wave 3.2s -1s infinite ease-in-out;
  &:before {
    left: 0;
    height: 190px;
    width: 160px;
    border-left: 26px solid #6ad26a;
  }

  &:after {
    left: 6px;
    height: 190px;
    width: 160px;
    border-left: 20px solid #c5f1c1;
    transform: rotateZ(-10deg);
  }
}

.blade-center {
  height: 120px;
  width: 90px;
  left: -20px;
  animation: wave 3s -1.2s infinite ease-in-out;
  &:before {
    right: 10px;
    height: 240px;
    width: 140px;
    border-right: 28px solid #6ad26a;
    transform: rotateZ(15deg);
  }

  &:after {
    right: 15px;
    height: 240px;
    width: 140px;
    border-right: 17px solid #c5f1c1;
    transform: rotateZ(15deg);
  }
}

@keyframes wave {
  0% {
    transform: rotateZ(3deg) translateZ(-1px);
  }
  25% {
    transform: rotateZ(-4deg) translateZ(-1px);
  }
  50% {
    transform: rotateZ(2deg) translateZ(-1px);
  }
  75% {
    transform: rotateZ(-6deg) translateZ(-1px);
  }
  100% {
    transform: rotateZ(3deg) translateZ(-1px);
  }
}

@keyframes wave2 {
  0% {
    transform: rotateZ(0deg) translateZ(-1px);
  }
  25% {
    transform: rotateZ(-3deg) translateZ(-1px);
  }
  50% {
    transform: rotateZ(3deg) translateZ(-1px);
  }
  75% {
    transform: rotateZ(-1deg) translateZ(-1px);
  }
  100% {
    transform: rotateZ(0deg) translateZ(-1px);
  }
}
